<!DOCTYPE html>
<!-- Layout: default-2 -->
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en en-gb"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }} - {{site.title}}</title>
	
	<!-- Meta
  ================================================== -->
	<meta name="description" content="{% if page.short %}{{page.short}}{% elsif page.title %}{{page.title}}{% endif %}">
    <meta name="keywords" content="{{page.tags}},picoknow,pico,know,maths,english,history,learn,education">
	<meta name="author" content="Isaac Reid-Guest and Deep Sohelia">
    
	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/assets/-default-2/base.css">
	<link rel="stylesheet" href="/assets/-default-2/skeleton.css">
	<link rel="stylesheet" href="/assets/-default-2/layout.css">
	<link rel="stylesheet" href="/assets/-default-2/extra.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== --><!--
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->
</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">PicoKnow</h1>
			<h5>Learn. Practice. Master. <em><a href="/">Home</a></em> <em><a href="/search.html">Search</a></em></h5>
			<hr />
		</div>
		<div class="two columns">
			{% if page.links %}
			<ul>
			{% for link in page.links %}
				<li href="{{link.href}}">{{link.name}}</li>
			{% endfor %}
			</ul>
			{% endif %}
		</div>
		<div class="ten columns">
			{{ content }}
		</div>
		<div class="sixteen columns">
			<hr />
			<a href="/about/index.html">About</a> ·
			<a href="/blog.html">Blog</a> ·
			<a href="http://bitbucket.org/picoknow/picoknow-jekyll">Code</a>
			<hr />
			<em>
				&copy; Picoknow. 
				Background image Courtesy of <a href="http://www.etsy.com/uk/shop/SevenElevenStudios">SevenElevenStudios</a>.
			</em>
		</div>

	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>
